* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{
    width: 400px;
    margin: auto;
}

.input-form button{
    display: none;
}

.input{
    width: 400px;
    height: 35px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: black;
}

.input input{
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
}

.list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.item{
    margin-top: 10px;
}

.item label{
    margin-left: 30px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.ticked{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}